h1{
  font-family: Helvetica;
  font-size: 100px;
  color: Khaki;
  font-weight: bold;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg")
}
.brushes{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: #00FA9A;
}
.frames{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 32px;
  color: white;
  background-color: lightcoral;
}
.paints{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 32px;
  color: white;
  background-color: skyblue;
}
body{
  font-family: Helvetica;
}
span{
  font-weight: bold;
}
